@import '../../index.module.scss';

.logo {
    display: block;
    width: 40%;
    max-width: 16rem;
    margin: 0 auto;
    padding-top: 15%;
}



.paper {
    color: $primary-dark;
    background-color: white;
    position: relative;
    width: 92vw;
    max-width: 32rem;
    margin-top: 4vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}